/* =================================
  Layout
================================= */

.l_footer {
  padding: 2vh 0;
}

.l_xCenter_yColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* =================================
  Object
================================= */

/* Component ---------------------*/

/* Project -----------------------*/
.p_footerStyle {
  font-size: 1.2rem;
  color: rgb(127, 127, 127);
}

/* Utility -----------------------*/


/* Enable hover only on non-touch devices */


/* Tablet and Smaller Desktop */
