/* =================================
  Layout
================================= */

/* =================================
  Object
================================= */

/* Component ---------------------*/

.c_mainVisual {
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 7vh;
  padding-bottom: 20vh;
}

.c_responsive {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 640px) {
  .c_responsive {
		object-fit: cover;
		height: 100vh;
		object-position: -45vw;
	}
}